boto3==1.34.75
Flask==3.0.0
Flask-Cors==4.0.0
flask-marshmallow==1.2.1
flask-restx==1.3.0
Flask-SQLAlchemy== 3.1.1
marshmallow-sqlalchemy==1.0.0
SQLAlchemy==2.0.23
sqlalchemy-filters==0.13.0
numpy==1.26.2
pandas==2.1.4
openpyxl==3.1.2
orjson==3.9.12
tqdm==4.66.1
psycopg2-binary=2.9.9