# Default ignored files
/shelf/
/workspace.xml
/dataSources/c6e6ad6d-48f7-412d-bf11-887f99a60556.xml
/dataSources.local.xml
/dataSources.xml
/dataSources/c6e6ad6d-48f7-412d-bf11-887f99a60556/storage_v2/_src_/schema/main.uQUzAA.meta
/misc.xml
/modules.xml
/inspectionProfiles/profiles_settings.xml
/inspectionProfiles/Project_Default.xml
/sqldialects.xml
/Task09_shh_web_flask_restx.iml
